.home {
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  display: flex;
  //align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/xiao5.png") ;
}